Package: rhasspy-wake-pocketsphinx-hermes
Version: ${version}
Section: utils
Priority: optional
Depends: sox
Architecture: ${architecture}
Maintainer: Michael Hansen
Description: Hermes MQTT service for Rhasspy wakeword detection with Pocketsphinx
